openai
dotenv
jupyter
ipykernel
azure-search-documents
azure-identity
pypdf
langchain==0.3.24
pandas
langchain-openai==0.3.18
langchain-azure-ai==0.1.2
langchain-community==0.3.23
azure-functions == 1.23.0
streamlit==1.32.2
python-dotenv==1.0.1
requests==2.31.0
